extends base

block content
  table(align='center' style='\
  background-color: #fff;\
  /* box-shadow: 0px 1px 22px 0px #3333331a; */\
  text-align: center;\
  border-radius: 0;\
  width: 600px;\
  margin: 0px auto 0px;\
  ')
    // CONTENT HEADER STARTS
    tr
      td(style='\
      font-weight: 700;\
      font-size: 1.8rem;\
      color: #060016;\
      padding-top: 0px;\
      padding-bottom: 10px;\
      ')
        | 🎉 Your LinkSpire Password Has Been Successfully Reset! 🔑
    // CONTENT HEADER ENDS
    // CONTENT BODY STARTS
    tr(style='text-align: left; color: #4f4f4f;')
      td(style='padding: 0 50px')
        p Hi {{Firstname}},

        p Your LinkSpire password has been successfully reset. You're all set to continue your link journey with us! 🎉

    tr(style='text-align: left; color: #4f4f4f')
      td(style='padding: 0 50px')
        p If you have any questions or need further assistance, feel free to reach out to our support team. We're here to help you every step of the way.

        p(style='padding-bottom: 35px')
          | Happy linking!, 
          br
          | The LinkSpire Team.
    // CONTENT BODY ENDS